{% extends 'base.html.twig' %}

{% block header_title %}{{ 'time_entry.headlines.delete'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="card">
        <div class="card-status bg-red"></div>
        <div class="card-header">
            <h3 class="card-title">{{ 'time_entry.headlines.delete'|trans }}</h3>
        </div>

        <div class="card-body">
            <p>{{ 'time_entry.delete.question'|trans }}</p>
            <p>
                ID: {{ timeEntry.id }}<br />
                <strong>{{ timeEntry.task.project.name }}: {{ timeEntry.task.name }}</strong><br/>
                Day: {{ timeEntry.day|date('Y-m-d') }}<br/>
                Time: {{ timeEntry.time|date('H:i') }}
            </p>
        </div>

        <div class="card-footer">
            <a href="{{ path('time_entry_index') }}" class="btn btn-outline-danger float-right">
                {{ 'time_entry.buttons.cancel'|trans }}
            </a>
            <button class="btn btn-danger">
                <i class="fe fe-trash"></i>
                {{ 'time_entry.buttons.delete'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
